.arcade-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 10px;
}

.reg-widget {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  margin-top: 10px;
}

.tiny-login {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  margin-top: 10px;
  width: 400px;
}